*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

.banner{
    min-width: 100vw;
    min-height: 10vh;
    background-color: blueviolet;

    font-size: 2rem;
    color: #FFF;

    background-image: url(./banner.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.judul{
    width: 100vw;
    height: 10vh;

    background: blue;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.nav{
    background-color: purple;
    min-width: 20vw;
    max-width: 20vw;
    min-height: 77vh;
    position: fixed;

    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
}

.nav img{
    width: 100px;
    height: 80px;
}

.nav ul video{
    padding: 0 1vw;
    width: 18vw;
    height: auto;
}

.umum{
    min-width: 100vw;
    min-height: 100vh;
    background: aqua;
}

ul li {
    list-style-type: none;
    display: flex;
    margin-left: -10px;
    font-size: 1.3rem;
}

ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #FFF;
    margin: 10px 20px;
}

.tengah{
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
}

.footer{
    width: 100vw;
    height: 5vh;
    background-color: aqua;
    
    position: absolute;
    bottom: 0%;
}

.isi{
    width: 80vw;
    height: 75vh;
    background-color: cadetblue;
    position: absolute;
    right: 0px;
    
    grid-column-start: 2;
    grid-column-end: 3;

    text-align: justify;
    font-size: 1rem;
}

.fasilitas{
    font-size: 10px;
}
.rowtitle{
    text-decoration: underline;
}

.gambar{
    width: 800px;
    height: auto;

    display: flex;
    padding: 10px;
}